altair==5.5.0
annotated-types==0.7.0
anyio==4.11.0
asttokens 
async-timeout==4.0.3
attrs==25.3.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
cachetools==6.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click 
colour==0.1.5
comm 
contourpy==1.3.2
curl_cffi==0.11.4
cycler==0.12.1
dacite==1.9.2
debugpy 
decorator 
distro==1.9.0
dtreeviz==2.2.2
exceptiongroup 
executing 
fastjsonschema==2.21.1
filelock==3.18.0
Flask==3.1.2
fonttools==4.58.0
frozendict==2.4.6
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
graphviz==0.21
greenlet==3.2.4
groq==0.32.0
h11==0.16.0
htmlmin==0.1.12
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ImageHash==4.3.1
importlib_metadata 
iniconfig==2.1.0
ipykernel 
ipython 
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi 
Jinja2==3.1.6
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client 
jupyter_core 
jupyterlab_widgets==3.0.15
kaggle==1.7.4.5
kiwisolver==1.4.8
langchain==0.3.27
langchain-core==0.3.79
langchain-groq==0.3.8
langchain-text-splitters==0.3.11
langsmith==0.4.35
llvmlite==0.44.0
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline 
mkl-service==2.5.2
mkl_fft 
mkl_random 
mlxtend==0.23.4
multimethod==1.12
multitasking==0.0.11
mysql-connector-python==9.3.0
narwhals==1.42.1
nbformat==5.10.4
nest_asyncio 
networkx==3.4.2
nltk 
numba==0.61.0
numpy==2.1.3
opendatasets==0.1.22
orjson==3.11.3
packaging 
pandas==2.2.3
pandas-datareader==0.10.0
parso 
patsy==1.0.1
peewee==3.18.2
pexpect 
phik==0.12.4
pickleshare 
pillow==11.2.1
platformdirs 
plotly==6.1.2
pluggy==1.6.0
prompt_toolkit 
protobuf==6.31.1
psutil 
ptyprocess 
pure_eval 
puremagic==1.29
pyarrow==21.0.0
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pydeck==0.9.1
Pygments 
pyparsing==3.2.3
PySocks==1.7.1
pytest==8.4.2
python-dateutil 
python-dotenv==1.1.1
python-slugify==8.0.4
pytz==2025.2
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq 
referencing==0.36.2
regex==2025.11.3
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.25.1
scikit-learn==1.6.1
scipy 
seaborn==0.13.2
six 
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.44
stack_data 
statsmodels==0.14.4
streamlit==1.48.1
tenacity==9.1.2
text-unidecode==1.3
threadpoolctl==3.6.0
toml==0.10.2
tomli==2.2.1
tornado 
tqdm 
traitlets 
typeguard==4.4.2
typing-inspection==0.4.1
typing_extensions 
tzdata==2025.2
urllib3==2.4.0
visions==0.8.1
watchdog==6.0.0
wcwidth 
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.4
widgetsnbextension==4.0.14
wordcloud==1.9.4
xgboost 
ydata-profiling==4.16.1
yfinance==0.2.65
zipp 
zstandard==0.25.0
